.nft-content__button {
  margin-top: 48px;
  grid-area: button;
  color: white;
  width: 288px;
  height: 48px;
  border: none;
  border-radius: 4px;
  padding: 13px 20px 13px 20px;
  gap: 10px;
  opacity: 1;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}

.nft-content__button:hover {
  grid-area: button;
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .button-link {
    display: flex;
    justify-content: center;
  }
  .nft-content__button {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    margin: 0;
  }
}
