.content {
  max-width: 830px;
}

.content__title {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  color: #ffffff;
  margin: 0;
  padding-top: 92px;
}

.content__quote {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  margin: 0;
}
.content__quote-text {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  color: #ffffff;
  align-self: flex-end;
  margin: 0;
  padding-bottom: 10px;
}
.content__quote-author {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  text-align: right;
  color: #ffffff;
  margin: 0;
}

.content__text {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
  margin: 0;
  padding-top: 32px;
}

@media screen and (max-width: 768px) {
  .content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .content__title {
    font-family: "Inter", serif;
    font-weight: 900;
    font-size: 45px;
    leading-trim: NONE;
    line-height: 49px;
    letter-spacing: 0%;
  }
  .content__quote-text {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 34px;
    letter-spacing: 0%;
  }
  .content__quote-author {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: right;
  }
  .content__text {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 163%;
    letter-spacing: 0%;
  }
}

@media screen and (max-width: 320px) {
  .content__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    padding-top: 64px;
  }
  .content__quote {
    padding-top: 40px;
  }
  .content__quote-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 30px;
    letter-spacing: 0%;
  }
  .content__quote-author {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: right;
  }
  .quote__text {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 163%;
    letter-spacing: 0%;
  }
  .footer__Copyright {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 14px;
    letter-spacing: 0%;
  }
}
