.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px;
  padding-top: 118px;
  max-width: 1184px;
  margin: 0 auto;
}
/* 
Cara eu to com mta dificuldade com isso, não é a solução que eu esperava
Eu esperava uma solução onde o grid "shrinkava", diminuia de tamanho, mas não consegui fazer isso
a unica solução que encontrei foi fazer com que as colunas se ajustem automáticamente, mas fica meio feio tipo 3-3-2
O tutor não soube me ajudar em um 1 a 1
*/
.gallery__item {
  max-width: 284px;
  max-height: 213px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 8px;
    padding-top: 60px;
    max-width: 720px;
  }
  .gallery__item {
    max-width: 352px;
    max-height: 264px;
  }
  .gallery__image {
    max-width: 352px;
    max-height: 264px;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 8px;
    padding-top: 32px;
    padding-bottom: 62px;
    max-width: 320px;
  }
  .gallery__item {
    max-width: 288px;
    max-height: 216px;
  }
  .gallery__image {
    width: 288px;
    height: 216px;
  }
}
